.add-comment {
  position: relative;
  width: 523px;
  margin: 0 auto;
  padding: 25px 25px 70px;
  border: 1px solid #e6ecf5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  color: #888da8;
  font-family: Roboto, 'sans-serif';

  &__avatar {
    max-width: 28px;
    max-height: 28px;
    margin-right: 20px;
  }

  &__input {
    width: 523px;
    min-height: 35px;
    padding: 15px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &__input:focus {
    border: 1px solid #4591fb;
  }

  &__button {
    margin-top: 15px;
    padding: 15px 25px;
    float: right;
    border: 1px solid #4591fb;
    border-radius: 5px;
    background-color: #4591fb;
    font-weight: 700;
    cursor: pointer;
  }

  &__button:hover {
    opacity: .9;
  }
}