.btn {
  &-action {
    @include clear-default-input-style();

    padding: 14px;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: .9;
    }

    &_rounded {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
    }
  }
}

.cursor{
  cursor: pointer;
}