.container {
  position: relative;
  max-width: 1268px;
  margin: 0 auto;
  padding-left: 65px;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.left-margin {
  margin-left: 10px;
}

.shadow-button:focus,
.shadow-button:active {
  filter: none;
}