.container {
  max-width: 1268px;
  margin: 0 auto;
  padding-left: 65px;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}