.edit-profile_input {
  width: 300px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}

.edit-profile-list {
  width: 51%;
  margin: 0 auto;
}

.edit-profile_button {
  width: 28%;
  margin: 15px;
  border-radius: 5px;
}

.edit-profileImage {
  margin-left: 45%;
}

.edit-profileName {
  font-weight: 600;
  text-align: center;
}