.empty-state {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 60vh;

 &__title {
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
  margin: 24px 0;
  color: $black-text-color;
  text-align: center;
 }

 &__msg {
  font-size: 17px;
  line-height: 25px;
  color: $placeholder-color;
 }

 &__icon {
  width: 48px;
  height: 48px;
 }
}

@media screen and (max-width: 1200px) {
 .empty-state {
  &__title {
   font-size: 22px;
   line-height: 30px;
  }
 }
}
