.navigation,
.header {
  position: fixed;
}
.main-header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  width: 100%;
  padding: 24px;
  background-color: $main-color;
  z-index: 999;

  &__logo {
   height: 67px;
   background-color: $main-color;
   display: flex;
   align-items: center;
   text-decoration: none;
   margin-right: 24px;
  }

  &__logo-img{
    width: 67px;
    height: 100%;
  }
  &__title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__space {
    display: block;
    height: 110px;
  }
}

.header-menu {
  display: flex;
  align-items: center;

  &__item{
   margin-right: 24px;
  }

  &__link{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;

    &:hover{
      text-decoration: underline;
    }
  }

  &__icon{
    width: 25px;
    margin-right: 8px;

    &_small{
      width: 20px;
    }
  }
}


@media screen and (max-width: 1200px) {
 .main-header {
   padding: 16px;

   &__title {
   display: none;}

   &__logo-img{
      width: 30px;
      height: 30px;
   }
 }

 .search{
 &__input{
   display: none;
 }

 &__btn{
  display: none;
 }

}

 .main-header-wrapper{
   margin: 0;
 }

 .header-menu{
   &__icon {
     width: 24px;
   }
 }
}