.header {
  width: 100%;
  margin-bottom: 65px;
  background-color: #494c62;
  font-family: Roboto, 'sans-serif';

  &__title {
    padding: 25px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__icon {
    width: 30px;
  }

  &__item {
    margin: 16px;
  }

  &__space {
    display: block;
    height: 110px;
  }
}

.logo {
  width: 67px;
  height: 65px;
  background-color: #4591fb;

  &__img {
    width: 40px;
    margin: 13px;
  }
}

.search {
  &__input {
    width: 350px;
    padding: 24px 0;
    background-color: #515365;
    color: #888da8;
    font-size: 15px;

    &--non-line {
      border: none;
      outline: none;
    }
  }

  &__btn {
    margin-left: 20px;
    transition: color 1s;
    background-color: #494c62;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  &__btn:hover {
    color: #ff5e3a;
  }
}