.input {
  &_custom {
    @include clear-default-input-style;
    @include placeholder-default;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 0;
    transition: all 1s;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;

    &:focus {
      box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
    }
  }
}
