.main-header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 padding: 16px 36px;
 background-color: $main-color;
 z-index: 999;


 &__logo {
  display: flex;
  align-items: center;
  margin-right: 24px;
  background-color: $main-color;
  text-decoration: none;
 }

 &__logo-img {
  width: 50px;
 }

 &__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
 }
}

.header-menu {
 display: flex;
 align-items: center;
 margin-left: 16px;

  &__item {
    position: relative;
    margin-right: 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 25px;
    margin-right: 8px;

    &_small {
      width: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-header {
    padding: 8px 16px;

    &__title {
      display: none;
    }

  &__logo {
   display: none;
  }
 }

  .main-header-wrapper {
    max-width: 100%;
    margin: 0;
  }

  .header-menu {
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 0;
    padding: 8px;
    background-color: $main-color;
    z-index: 10;

    &__icon {
      width: 30px;
    }

    &__item {
      &:last-child {
        margin-right: 0;
      }
    }

    &__link p {
      display: none;
    }
  }
}
