.notFound {
  &__errorText {
    padding-top: 40px;
  }

  &__errorHeader {
    margin-left: 42%;
    font-size: 160px;
  }

  &__errorBody {
    margin-left: 21%;
    font-size: 35px;
    }
  }

.returnButton {
  margin-top: 30px;
  margin-left: 47%;
  border-bottom-width: 1px;
  border-bottom-color: black;
  background-color: #ff5e3a;
}