.notFound {
  background-image: url(../img/404-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__errorText {
    width: 1200px;
    padding-top: 20%;
    padding-left: 2%;
  }

  &__errorBody {
    font-size: 37px;
    color: #e6ecf5;
  }
}

.returnButton {
  width: 10%;
  margin: 30px 36%;
}