.scroll-btn {
	position: fixed;
	bottom: 60px;
	right: 60px;
	width: 40px;
	height: 40px;
	border: 0 solid transparent;
	border-radius: 10px;
	background-color: $main-color;
	color: #fff;
	font-size: 26px;
	opacity: .7;
	outline: none;
}

.scroll-btn:focus {
	opacity: 1.2;
}