.search {
 &__input {
  @include clear-default-input-style;
  padding: 8px 0;
  background-color: transparent;
  border-bottom: 0.5px solid #fff;
  color: #fff;
  font-size: 18px;

  @include placeholder {
   font-size: 15px;
   color: #fff;
   letter-spacing: 0.3px;
   font-weight: 300;
  }
 }

 &__btn {
  text-decoration: none;
  margin-left: 16px;
  width: 20px;

  img {
   width: 100%;
  }
 }
}
