.upload-file {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 25px;
  margin-top: 16px;
  color: $meta-color;
  font-size: 14px;
  line-height: 20px;
  
  &__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
	 
  }

  & p {
    cursor: pointer;
  }
  
  input {
    position: absolute;
    left: 0;
    width: 170px;
    height: 24px;
    font-size: 0;
    cursor: pointer;
    opacity: 0;
  }
  
}

@media screen and (max-width: 1000px) {
  .edit-profile__item{
    .upload-file {
      input{
        right: 0;
        left: initial;
      }
    }
  } 
}