.upload-file{
	display: flex;
	align-items: flex-end;
	font-size: 14px;
	line-height: 20px;
	color: $meta-color;
	margin-top: 16px;
	height: 25px;
	position: relative;
  
	&__icon{
	  width: 30px;
	  height: 30px;
	  cursor: pointer;
	 
	}

	& p {
		cursor: pointer;
	}
  
	input{
	  opacity: 0;
	  position: absolute;
	  left: 0;
	  font-size: 0;
	  cursor: pointer;
	  width: 170px;
	  height: 24px;
	}
  
  }