.create-post {
  position: relative;
  width: 543px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #e6ecf5;
  border-radius: 5px;
  color: #888da8;
  font-family: Roboto, 'sans-serif';

  &__input {
    width: 380px;
    padding: 7px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &__input:focus {
    border: 1px solid #4591fb;
  }

  &__button {
    padding: 15px;
    border: 1px solid #4591fb;
    border-radius: 5px;
    outline: none;
    background-color: #4591fb;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  &__button:hover {
    opacity: .9;
  }
}