.repost-header {
  position: relative;
  width: 172px;
  margin: 15px 26% -68px;
  padding: 5px 18px 0;
  transition: all 1.5s;
  border-radius: 5px;
  background-color: #4591fb;
  font-family: Roboto, 'sans-serif';
}

.repost-header:hover {
  margin: 15px 12% -68px;
}