.chats {
  &__view {
    display: flex;
    height: 75vh;
    margin: 50px auto 0;
  }

  &__list {
    width: 35%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .08);
    overflow-y: auto;
  }

  &__back-btn {
    display: none;
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  &__container {
    height: 80%;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid $border-color;
    cursor: pointer;
  }

  &__input {
    @include placeholder-default;
    width: 85%;
    margin-right: 8px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: $border-color;
    color: $black-text-color;
    font-size: 16px;   
  }

  &__button {
    width: 20px;
    height: 20px;
  }
}

.chat-container {
  display: block;
  padding: 15px;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }

  &__text {
    height: 25px;
    margin: 8px;
    color: $black-text-color;
    font-size: 16px;

    @include ellipsis-text;
  }
}

@media screen and (max-width: 1000px) {
  .chats {
    &__view {
      max-width: 100%;
      margin: 8px;
    }

    &__list {
      width: 35%;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .chats {
    &__back-btn {
      display: block;
    }

    &__list {
      display: block;
      width: 100%;
    }
  }
}
