.messages-container {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #f0f2f7;

  &__header {
    height: 10%;
    padding: 20px;
    border-bottom: 1px solid #f0f2f7;  
  }

  &__body {
    height: 80%;
    padding: 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar{
      width: 5px;
      background-color: #f0f2f7;
    } 
    &::-webkit-scrollbar-thumb{
      background-color: #a1a8bd;
    }
  }
}
