.message-sender {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 8px 20px;
 border-top: 1px solid #f0f2f7;
 border-bottom: 1px solid #f0f2f7;
 overflow: hidden;
 height: 10%;

 &__input {
  @include clear-default-input-style;
  width: 80%;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  @include placeholder {
   color: #a1a8bd;
   letter-spacing: 0.3px;
   font-weight: 400;
  }
 }

 &__actions {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  cursor: pointer;
 }
}
