.message-sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 8px 20px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  background-color: #fff;
  overflow: hidden;

  &__input {
    @include placeholder-default;
    width: 80%;    
  }

  &__actions {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .message-sender {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 45px;

    &__actions {
      margin-right: 0;
    }
  }
}
