body {
  font-family: $main-font;
}

.container {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.left-margin {
  margin-left: 10px;
}

.shadow-button:focus,
.shadow-button:active {
  filter: none;
}

.shadow-button {
  filter: drop-shadow(2px 2px 5px black);
}

.pos-relative {
  position: relative;
}

textarea:focus {
  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:-moz-placeholder {
    color: transparent;
  }

  &::-moz-placeholder {
    color: transparent;
  }

  &:-ms-input-placeholder {
    color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}