body {
 font-family: 'Ubuntu', sans-serif;
}

.container {
 position: relative;
 max-width: 85%;
 margin: 0 auto;
}

.d-flex {
 display: flex;
}

.items-center {
 align-items: center;
}

.content-between {
 justify-content: space-between;
}

.flex-column {
 display: flex;
 flex-direction: column;
}

.pointer {
 cursor: pointer;
}

.left-margin {
 margin-left: 10px;
}

.shadow-button:focus,
.shadow-button:active {
 filter: none;
}

.color-white {
 color: #fff;
}

.color-dark-grey {
 color: #515365;
}

.white-background {
 background-color: #fff;
}

.shadow-button {
 filter: drop-shadow(2px 2px 5px black);
}
