@mixin box-shadow($args) {
 -webkit-box-shadow: $args;
 -moz-box-shadow: $args;
 box-shadow: $args;
}

@mixin clear-default-input-style {
 border: none;
 background: none;
 background-image: none;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 outline: none;

 &::-moz-focus-inner {
  border: 0;
 }

 &::-ms-expand {
  display: none;
 }

 &:focus {
  outline: none;
 }
}

@mixin placeholder {
 &::-webkit-input-placeholder {
  @content;
 }

 &:-moz-placeholder {
  @content;
 }

 &::-moz-placeholder {
  @content;
 }

 &:-ms-input-placeholder {
  @content;
 }
}
