.header-panel {
  position: fixed;
  width: 100%;
  margin-bottom: 65px;
  background-color: #494c62;
  font-family: Roboto, 'sans-serif';

  &__logo {
    width: 67px;
    height: 65px;
    background-color: #4591fb;
  }

  &__img {
    width: 40px;
    margin: 13px;
  }

  &__icon {
    width: 30px;
  }

  &__item {
    margin: 16px;
  }

  &__profile {
    margin: 11px 60px;
  }

  &__profile-img {
    width: 40px;
    height: 40px;
  }

  &__profile-name {
    margin-top: 15px;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
  }

  &__title {
    padding: 25px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__input {
    width: 350px;
    padding: 24px 0;
    border: none;
    outline: none;
    background-color: #515365;
    color: #888da8;
    font-size: 15px;
  }

  &__btn {
    margin-left: 20px;
    transition: color 1s;
    border: none;
    outline: none;
    background-color: #494c62;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  &__btn:hover {
    color: #ff5e3a;
  }
}

.navigation {
  position: fixed;
  width: 65px;
  height: 100vh;
  margin-top: 65px;
  border-right: 2.5px solid rgba(0, 0, 0, .1);

  &__item {
    margin-top: 20px;
    margin-left: 12px;
  }

  &__img {
    width: 40px;
  }
}