.registration {
  height: 100vh;
  background-color: rgb(52, 213, 219);
  font-family: Lato, 'sans-serif';

  &__container {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 37px;
    border-radius: 4px;
    background-color: #ececec;
    filter: drop-shadow(5px 5px 10px black);
  }

  &__icon {
    position: absolute;
    top: -75px;
    left: 150px;
  }

  &__img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3), 0 0 80px rgba(0, 0, 0, .1) inset;
  }

  &__title {
    margin-top: 88px;
    font-size: 30px;
    font-weight: 300;
  }

  &__member-login {
    margin-left: 160px;
    color: #f5683d;
    font-size: 18px;
    text-decoration: none;
  }

  &__form {
    width: 270px;
    margin: 31px auto;
  }

  &__input,
  &__btn {
    display: block;
    width: 266px;
    margin-bottom: 20px;
    padding: 11px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: rgba(152, 152, 152, .3);
    font-size: 18px;
    text-align: center;
  }

  &__input:focus {
    border: 1px solid #4591fb;
  }

  &__btn {
    padding: 15px 0;
    border-bottom: 2px solid #108ede;
    background-color: #4591fb;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 5px black);
  }

  &__btn:focus {
    filter: none;
  }
}
