$main-color: #38acec;
$border-color: #f0f2f7;
$black-text-color: #0a1331;
$placeholder-color: #a1a8bd;
$meta-color: #737d9b;
$green-color: #00b300;
$red-color: #c13f10;
$main-font: 'Ubuntu', sans-serif;