 $main-color: #38ACEC;
 $border-color: #f0f2f7;
 $black-text-color: #0a1331;
 $placeholder-color: #a1a8bd;
 $meta-color: #737d9b;
 $green-color: #00B300;
 $red-color: #C13F10;
 $main-font: 'Ubuntu', sans-serif;