@import "config/reset";
@import "sections/navigation";
@import "sections/login";
@import "sections/registration";
@import "modules/content-placement";
@import "modules/header-profile";
@import "modules/post-item";
@import "modules/profile-small";
@import "modules/edit-profile";

body {
  background-color: #edf2f6;
}