.post {
  position: relative;
  width: 40%;
  margin: 25px auto;
  padding: 16px;
  border: 1px solid $border-color;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .08);

  &__link {
    text-decoration: none;
  }

  &__avatar {
    width: 40px;
    height: 40px;
  }

  &__action-count {
    margin: 0 10px;
    color: $meta-color;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 8px 0;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    max-width: 100%;
    min-height: 75px;
    margin: 25px 0;
    padding-right: 24px;
    color: $black-text-color;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    word-wrap: break-word;
  }

  &__img {
    display: block;
    width: 100%;
    max-height: 515px;
    margin: 15px auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $border-color;
  }

  &__action-img {
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
  }

  &__action {
    display: block;
    position: absolute;
    min-width: 128px;
    padding: 16px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .08);

    color: $black-text-color;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: $border-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  .post {
    width: 100%;

    &__action {
      right: -5%;
      padding: 10px;
      font-size: 13px;
    }

    &__action-img {
      width: 20px;
      height: 20px;
    }

    &__action-count {
      font-size: 12px;
    }
  }
}