.post {
  position: relative;
  width: 40%;
  margin: 25px auto;
  padding: 16px;
  border: 1px solid $border-color;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .08);

  &__link {
    text-decoration: none;
  }

  &__avatar {
    width: 40px;
    height: 40px;
  }

  &__action-count {
    margin: 0 10px;
    color: $meta-color;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 8px 0;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    max-width: 100%;
    min-height: 75px;
    margin: 25px 0;
    padding-right: 24px;
    color: $black-text-color;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    word-wrap: break-word;
  }

  &__img {
    display: block;
    width: 100%;
    max-height: 515px;
    margin: 15px auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $border-color;
  }

  &__action-img {
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
  }

  &__action {
    display: block;
    position: absolute;
    min-width: 128px;
    padding: 16px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: #fff;
    color: $black-text-color;
    white-space: nowrap;
    cursor: pointer;

    @include box-shadow(2px 0 4px 0 rgba(0, 0, 0,.08));

    &:hover {
      background-color: $border-color;
    }
  }
}

.postLikers {
  &__nav {
    position: absolute;
    left: 80px;
    width: 30vw;
    padding: 8px;
    border: 1px solid $main-color;
    border-radius: 6px;
    background-color: #fff;
    z-index: 20;

    &::after {
      position: absolute;
      top: calc(50% - 17px);
      left: -2px;
      width: 0;
      height: 0;
      transform: translate(50%);
      transform: rotate(45deg);
      border-width: 13px 13px 13px 0;
      border-style: solid;
      border-color: transparent transparent $main-color transparent;
      content: "";
    }

    .follow-container {
      width: 100%;
      margin: 8px auto;
      padding: 6px;
      border: none;

      @include box-shadow(none);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    color: $black-text-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

.repostLikers {
  &__nav {
    position: absolute;
    right: 45px;
    width: 30vw;
    padding: 8px;
    border: 1px solid $main-color;
    border-radius: 6px;
    background-color: #fff;
    z-index: 20;

    &::after {
      position: absolute;
      top: calc(50% - 17px);
      right: -2px;
      width: 0;
      height: 0;
      transform: translate(50%);
      transform: rotate(-45deg);
      border-width: 13px 0 13px 13px;
      border-style: solid;
      border-color: transparent transparent $main-color transparent;
      content: "";
    }

    .follow-container {
      width: 100%;
      margin: 8px auto;
      padding: 6px;
      border: none;

      @include box-shadow(none);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    color: $black-text-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .post {
    width: 95vw;

    &__action {
      right: -5%;
      padding: 10px;
      font-size: 13px;
    }

    &__action-img {
      width: 25px;
      height: 25px;
    }

    &__action-count {
      font-size: 12px;
    }
  }

  .postLikers__nav {
    width: 70vw;
  }

}

