.post {
  position: relative;
  width: 523px;
  margin: 15px auto 0;
  padding: 25px;
  border: 1px solid #e6ecf5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #888da8;

  &__avatar {
    width: 40px;
    height: 40px;
  }

  &__more-img,
  &__like-img,
  &__comment-img,
  &__forward-img {
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
  }

  &__forward-img {
    margin-left: 20px;
  }

  &__comment-number,
  &__like-number,
  &__forward-number {
    margin-left: 10px;
  }

  &__body {
    margin: 25px 0;
    text-align: justify;
  }

  &__img {
    display: block;
    max-width: 515px;
    max-height: 515px;
    margin: 0 auto 10px;
  }

  &__footer {
    padding: 20px 0 0;    
    border-top: 1px solid #e6ecf5;
  }

  &__action{
    display: none;
    position: absolute;
    min-width: 128px;
    border: 1px solid #f0f2f7;
    border-radius: 5px;
    background-color: #fff;
    @include box-shadow(2px 0 4px 0 rgba(0, 0, 0, 0.08));
    padding: 16px;
    color: #0a1331;
    cursor: pointer;
    &:hover {
      background-color: #f0f2f7;
    }
  }
}

.main-item:focus ~ .post__action,
.main-item:active ~ .post__action,
.sub-menu:hover {
  display: block;
}