.message-container {
  width: 400px;
  padding: 10px;
  border: 1px solid #e6ecf5;
  background-color: #fff;

  &__link {
    color: #515365;
    text-decoration: none;
  }
}

.message-container:hover {
  opacity: .7;
}