.message-come {
  margin-bottom: 20px;
  float: right;

  &__text {
    display: inline-block;
    max-width: 70%;
    margin-right: 10px;
    padding: 10px 35px;
    border-radius: 15px;
    background-color: #4591fb;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
  }

  &__time {
    margin-right: 5px;
    color: #9a9fbf;
    font-size: 12px;
  }
}
