.message-come {
  margin-bottom: 20px;
  float: right;

  &__text {
    display: inline-block;
    max-width: 50%;
    margin-right: 10px;
    padding: 10px 35px;
    border-radius: 15px;
    background-color: #0fc19e;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
  }
}
