.follow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 16px auto;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .08);

  .profile-info__avatar {
    margin-right: 16px;
  }

  &:last-child {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .follow-container {
    width: 95vw;

    &:last-of-type{
      margin-bottom: 70px;
    }

    .follow-button {
      min-width: 85px;
      font-size: 13px;
    }
  }
}
