.follow-button {
    @include clear-default-input-style();
    padding: 8px;
    min-width: 120px;
    font-size: 17px;    
    border-radius: 5px;  
    color: #fff;
    font-weight: 700;

    &_green{
      background-color: $green-color;
    }

    &_red{
      background-color: $red-color;
    }
  }

.following {
  position: relative;
  top: 12%;
}