.follow-button {
  min-width: 120px;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;

  @include  clear-default-input-style();

  &_green {
    background-color: $green-color;
  }

  &_red {
    background-color: $red-color;
  }
}

.following {
  position: relative;
  top: 12%;
}