.info-controller {
 width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 25px auto;

  &__link {
    margin-right: 16px;
    padding: 10px 20px;
    border: 1px solid $main-color;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: $main-color;
    font-weight: 700;
    text-decoration: none;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $main-color;
    }
  } 
}