.info-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 25px auto;

  &__link {
    margin-right: 16px;
    padding: 10px 20px;
    border: 1px solid $main-color;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: $main-color;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      color: $main-color;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &_white {
      background-color: #fff;
      color: $main-color;

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}



@media screen and (max-width: 1000px) {
  .info-controller {
    &__link {
      font-size: 14px;
    }
  }
}
