.profile-small {
  position: relative;
  color: #9a9fbf;

  &--position {
    margin: 11px 60px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__username {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #0a1331;
  }

  &__isActive {
    position: absolute;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #32e4cd;
  }

  &__arrow {
    margin-top: 17px;
    font-size: 20px;
    font-weight: 700;
  }

  &__alias {
    font-size: 12px;
    font-weight: 500;
    color: #9a9fbf;
  }

  &__signature {
    margin: 7px;
  }
}

.profile{

  &__nav {
    display: none;
    list-style: none;
    position: absolute;
    top: 67px;
    right: 60px;
    background-color: #fff;
    @include box-shadow(2px 0 4px 0 rgba(0, 0, 0, 0.08));
  }

  &__option{
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     padding: 25px;
  }

  &__link{
    color: #203152;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
}


.profile-card{
  &__avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &__username{
    color: #fff;
    font-size: 25px;
    margin-left: 16px;
  }
}