.users-panel {
 position: absolute;
 top: 0;
 right: 0;
 border: 1px solid #fff;

 .follow-container {
  width: 100%;
 }

 .profile-info__username {
  width: 90px;
  @include ellipsis-text;
 }
}

@media screen and (max-width: 1200px) {
 .users-panel {
  display: none;
 }
}